input#searchbar {
    border: none;
    border-radius: 5px;
    vertical-align: top;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: -26px;
    text-indent: 5px;
    width: -webkit-fill-available;
}

/* When the input field gets focus,
      change its width to 100% */
input#searchbar:focus {
    outline: none;
}

div#barraDePesquisa {
    background-color: white;
    height: 30px;
    margin: 10px;
    padding-top: 2px;
    border-radius: 10px;
}

#searchbarBtnComeBack {
    display: inline;
    color: #0D6EFD;
    background-color: rgba(255, 255, 255, 0);

    margin-left: 0px;
}

.buttonsPadrão {
    border: none;
    color: white;
    background-color: #0D6EFD;
}